<h3>Alle pagina's</h3>
<table>
  <% @pages.each do |page| %>
    <tr>
      <td><%= page.key.titleize %></td>
      <td><%= link_to 'edit', edit_admin_page_path(page), :class => "bookman-link" %></td>
    </tr>
  <% end %>
</table>

<a href="/admin/clear">CLEAR ALL CACHE</a>
