<h1>KPI Dashboard</h1>
<table class="kpi-table">
<tr>
	<td id="cash">
		<h3>Cash</h3>
	</td>
	<td id="balans">
		<h3>Balans</h3>
	</td>
	<td id="omzet">
		<h3>Omzet</h3>
	</td>
</tr>
<tr>
	<td id="bsc">
		<h3>Balanced score card</h3>
	</td>
	<td id="perc_binnen_projecten">
		<h3>% Binnen projecten</h3>
	</td>
	<td id="velocity">
		<h3>Velocity</h3>
	</td>
</tr>
</table>
