<h3>Onze technieken</h3>
<div class="technique-container">
	<div class="technique-image">
		<%= image_tag "rails.png" %>
	</div>		
	<div class="technique-text">
		<h4>Ruby on Rails</h4>
		<p>Wij hosselen die shit in rails man. En als je naar ons komt wordt die shit ook wel degelijk gehosselt. Fo real bitches. Want wij zijn plugged in man.</p>
	</div>
	<div style="clear:both"></div>
	<hr>
	<div class="technique-image">
		<%= image_tag "jquery.png" %>
	</div>		
	<div class="technique-text">
		<h4>jQuery</h4>
		<p>Ook in jQuery zijn wij die ff'n masters. Tenminste Jelmer dat, hij heeft die header gepimpt jeweets.</p>
	</div>
	<div style="clear:both"></div>
	<hr>
	<div class="technique-image">
		<%= image_tag "html5.png" %>
	</div>		
	<div class="technique-text">
		<h4>HTML5</h4>
		<p>Deze skills zijn de toekomst. Je weet toch.</p>
	</div>
	<div style="clear:both"></div>
	<hr>
</div>

