<div id="strip">
	<div class="content">
		<div id="strip-content">	
			<h1>About</h1>
			<%= manageable_layout_content_for :body %>
		</div>
		<div id="globe-logo">
			<%= image_tag "logo500x500.png", alt: "dreamyourweb" %>
		</div>
	</div>
</div>
<div style="clear:both"></div>
