- content_for :header do
  .header-container{class: color_class, style: !background.nil? ? "background-image: url(#{background})" : ""}
    .row
      .twelve.columns
        %h1 #{title}
        %h1.subheader 
          %small #{subheader}
