<h1><%= link_to "dreamyourweb is een innovatieve (web)applicatie ontwikkelaar", products_path %></h1>
<h4 style="font-size: 18px; font-family: verdana,arial,helvetica;">Wij waarderen kwaliteit boven kwantiteit</h4>
<hr class="small-line">
<%= content_for :body %>
<p style="color: #309AB5;">dreamyourweb biedt het complete pakket van advies, ontwikkeling en optimalisatie</h5>
<div class="read-more"><%= link_to "Lees meer", products_path, class: "bookman-link" %></div>