.project-container
  %h5= project.project_type
  .project-image.inner-shadow.lifted
    .image_container
      = link_to image_tag(project.picture_url(:portfolio_full).to_s), project_path(project)
      = link_to "LEES MEER", project_path(project), :class => "image_overlay bookman"
  .project-description
    %h4= link_to(project.title, project_path(project))
- if (project_counter + 1) % 3 == 0
  %div{:style => "clear:both"}
    %hr/
