%li
  .project-container
    %h6= project.project_type
    .project-image
      = link_to project_path(project) do
        = image_tag(project.picture_url(:portfolio_full).to_s)
        .image_overlay Lees Meer
    .project-description
      %h4= link_to(project.title, project_path(project))
