<div id="home-strip">
	<div id="home-banner-container">
		<div id="home_banner_web" class="home-banner-element">
			<div class ="banner-element-content">
				<div class = "banner-element-text">
					<h2>RELAX! WIJ DOEN HET ALLEMAAL</h2>
					<p class="bookman">dreamyourweb levert maatwerk op het gebied van websites. Je hoeft niet te onderhandelen met verschillende bedrijven, wij leveren een totaalpakket. Van de ontwikkeling tot optimalisatie van je website en van online marketing tot design wij hebben de expertise in huis.</p>
						<%= link_to sub_menu_item('Lees meer', 'webdevelopment'), products_webdevelopment_path, :class => "bookman-link" %>
				</div>
				<div id = "web-image" class = "banner-element-image"></div>
			</div>
		</div>
		<div id="home_banner_concept" class="home-banner-element">
			<div class ="banner-element-content">
				<div class = "banner-element-text">
					<h2>BETROUWBARE PARTNER</h2>
					<p class="bookman">dreamyourweb realiseert samen met u uw online droom. Wij ondersteunen uw organisatie bij het uitvoeren van je kerntaken. Daarom gaan wij voor lange termijn relaties, waarmee we echt iets neer kunnen zetten dat er toe doet voor uw organisatie. Samen zorgen we voor een bruikbare en betrouwbare online ervaring.</p>
						<%= link_to sub_menu_item('Lees meer', 'concept_development') , products_concept_development_path, :class => "bookman-link" %>
				</div>
				<div id = "concept-image" class = "banner-element-image"></div>
			</div>
		</div>
		<div id="home_banner_mobile" class="home-banner-element">
			<div class ="banner-element-content">
				<div class = "banner-element-text">
					<h2>DATA GEDREVEN</h2>
					<p class="bookman">Wij zijn onderzoekers en maken het liefst beslissingen op basis van feiten. Dit betekent dat we leren wat werkt van de gebruikers van onze websites. Onze wetenschappelijke aanpak levert duurzame groei.</p>
						<%= link_to sub_menu_item('Lees meer', 'mobile'), products_mobile_path, :class => "bookman-link" %>
				</div>
				<div id = "mobile-image" class = "banner-element-image"></div>
			</div>	
		</div>
		<div id="home_banner_invite2eat" class="home-banner-element">
			<div class ="banner-element-content">
				<div class = "banner-element-text">
					<h2>ACTIEF MEEDENKEN</h2>
					<p class="bookman">De digitale wereld en alle opties om je bedrijf te ondersteunen veranderen snel. Organisaties hebben daardoor meestal niet de juiste expertise in huis om effectief hun business model te moderniseren of innoveren. Om u zo goed mogelijk te helpen denkt dreamyourweb actief mee om uw visie klaar te stomen voor de toekomst.</p>
						<a href="/projects/invite2eat", class="bookman-link">Lees meer</a>
				</div>
				<div id = "invite2eat-image" class = "banner-element-image"></div>
			</div>	
		</div>
	</div>
	<div id ="home-banner-bullets">
		<ul>
			<li class="bullet active-bullet"></li>
			<li class="bullet"></li>
			<li class="bullet"></li>
			<li class="bullet"></li>
		</ul>
	</div>
</div>
<div style="clear:both"></div>
<%= render 'layouts/sub_navigation' %>
