<div id="home-strip">
	<div id="home-banner-container">
		<div id="home_banner_web" class="home-banner-element"><p>
			<div class ="banner-element-content">
				<b>dream</b>your<b>web</b> levert topkwaliteit websites af. Met oog voor <br> wat uw bedrijf beweegt.<%= link_to sub_menu_item('Lees meer', 'webdevelopment') , projects_webdevelopment_path, class: "bookman" %></p>				
			</div>
		</div>
		<div id="home_banner_concept" class="home-banner-element">
			<div class ="banner-element-content">
				<p><b>dream</b>your<b>web</b> denkt actief mee om uw product de beste start te <br> geven.<%= link_to sub_menu_item('Lees meer', 'concept_development') , projects_concept_development_path, class: "bookman" %></p>
			</div>
		</div>
		<div id="home_banner_mobile" class="home-banner-element"><p>
			<div class ="banner-element-content">
				<b>dream</b>your<b>web</b> bouwt mobiele websites en applicaties.<%= link_to sub_menu_item('Lees meer', 'mobile'), projects_mobile_path, class: "bookman" %></p>
			</div>	
		</div>
	</div>
</div>
<div style="clear:both"></div>
<%= render 'layouts/sub_navigation' %>
