<div id="home-strip">
	<div id="home-banner-container">
		<div id="home_banner_uvp" class="home-banner-element uvp">
			<div class ="banner-element-content">
				<div class = "banner-element-text">
					<h2>Wij ontwikkelen slimmere applicaties</h2>
					<p class="bookman">Wij zijn de experts op het gebied van innovatieve (mobiele/web)applicaties.</p>
				</div>
				<div id = "uvp-image" class = "banner-element-image"></div>
			</div>
		</div>
		<div id="home_banner_mobile" class="home-banner-element">
			<div class ="banner-element-content">
				<div class = "banner-element-text">
					<h2>DATA GEDREVEN</h2>
					<p class="bookman">Wij zijn onderzoekers en maken het liefst beslissingen op basis van feiten. Innovatieve trajecten hebben vaak niet te weinig, maar te veel ideeen. Hoe filter je nu de juiste ideeen om op door te ontwikkelen eruit? Wij leren wat werkt van de gebruikers van onze applicaties. Onze wetenschappelijke aanpak betekent vaak het verschil tussen faal of succes!</p>
				</div>
				<div id = "data-image" class = "banner-element-image"></div>
			</div>	
		</div>
		<div id="home_banner_invite2eat" class="home-banner-element">
			<div class ="banner-element-content">
				<div class = "banner-element-text">
					<h2>ACTIEF MEEDENKEN</h2>
					<p class="bookman">De digitale wereld verandert razend snel. Organisaties hebben daardoor meestal niet de juiste expertise in huis om effectief gebruik te maken van de laatste ontwikkelingen. Dreamyourweb wil je zo goed mogelijk helpen en denkt actief mee om uw visie klaar te stomen voor de toekomst.</p>
				</div>
				<div id = "active-image" class = "banner-element-image"></div>
			</div>	
		</div>
		<div id="home_banner_concept" class="home-banner-element">
			<div class ="banner-element-content">
				<div class = "banner-element-text">
					<h2>BETROUWBARE PARTNER</h2>
					<p class="bookman">dreamyourweb realiseert samen met u uw (online) droom. Innig samenwerken is, weten wij uit ervaring, bij innovatie een vereiste voor succes. Wij faan voor lange termijn relaties, waarmee we echt iets vernieuwends neer kunnen zetten dat er toe doet. Samen zorgen we voor een bruikbaar, betrouwbaar en succesvol product.</p>
				</div>
				<div id = "associate-image" class = "banner-element-image"></div>
			</div>
		</div>
		<div id="home_banner_web" class="home-banner-element">
			<div class ="banner-element-content">
				<div class = "banner-element-text">
					<h2>RELAX! WIJ DOEN HET ALLEMAAL</h2>
					<p class="bookman">dreamyourweb levert maatwerk op het gebied van (mobiele/web) applicaties. Je hoeft niet te onderhandelen met verschillende bedrijven, wij leveren een totaalpakket. Van de ontwikkeling tot optimalisatie van je website en van online marketing tot design wij hebben de expertise in huis.</p>
				</div>
				<div id = "relax-image" class = "banner-element-image"></div>
			</div>
		</div>
		<div id="home_banner_invite2eat" class="home-banner-element">
			<div class ="banner-element-content">
				<div class = "banner-element-text">
					<h2>FLEXIBEL VERNIEUWEN</h2>
					<p class="bookman">Wij richten ons op innovatieve applicaties. Ons gehele proces staat daarom in het teken van omgaan met verandering. Flexibiliteit is daarbij cruciaal. Doordat we sneller cruciale veranderingen kunnen doorvoeren, vallen de kosten van de applicatie over het algemeen lager uit en ontstaan er extra mogelijkheden om te experimenteren, wat de kwaliteit ten goede komt. Wij zijn de expert in Nederland als het gaat om lean innoveren. </p>
				</div>
				<div id = "flexible-image" class = "banner-element-image"></div>
			</div>	
		</div>
	</div>
	<div id ="home-banner-bullets">
		<ul>
			<li class="bullet active-bullet"></li>
			<li class="bullet"></li>
			<li class="bullet"></li>
			<li class="bullet"></li>
			<li class="bullet"></li>
		</ul>
	</div>
</div>
<div style="clear:both"></div>
