<div id="strip">
	<div class="content">
		<div id="home-banner">
			
			<div id="home_banner_web" class="home-banner-element"><div id="home-banner-overlay-bottom"></div><p><b>dream</b>your<b>web</b> levert topkwaliteit websites af. Met oog voor <br> wat uw bedrijf beweegt.<%= link_to sub_menu_item('Lees meer', 'webdevelopment') , projects_webdevelopment_path, class: "button" %></p>				</div>
			<div id="home_banner_concept" class="home-banner-element"><div id="home-banner-overlay-bottom"></div><p><b>dream</b>your<b>web</b> levert topkwaliteit websites af. Met oog voor <br> wat uw bedrijf beweegt.<%= link_to sub_menu_item('Lees meer', 'concept_development') , projects_concept_development_path, class: "button" %></p></div>
			<div id="home_banner_mobile" class="home-banner-element-last"><div id="home-banner-overlay-bottom"></div><p><b>dream</b>your<b>web</b> levert topkwaliteit websites af. Met oog voor <br> wat uw bedrijf beweegt.<%= link_to sub_menu_item('Lees meer', 'mobile'), projects_mobile_path, class: "button" %></p></div>	
<div id="home-banner-fixed">
				<div id="home-banner-overlay-left"></div>
				<!--<div id="home-banner-arrow"></div>-->
			</div>
			<div id="home-banner-categories">
				<nav>
				<ul>
					<li class="active-li" id="home_li_web">Webdevelopment</li>
					<li id="home_li_concept">Concept development</li>
					<li id="home_li_mobile">Mobiel</li>
				</ul>				
				</nav>
 			</div>	
		</div>
	</div>
</div>
<div style="clear:both"></div>
