<!DOCTYPE html>
<html>
	<head>
		<title>Dreamyourweb | Uitnodiging</title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>

	<div style="text-align:center; margin-top:20px; border:2px solid #6666CC; width:700px; margin-left:auto; margin-right:auto; padding-bottom:20px; padding-top:20px;">
		<h1>dreamyourweb bestaat 1 jaar!</h1><br>
		<h2>Dat is natuurlijk reden voor een feestje.<h2>
		<h2>Op zaterdag 12 mei willen we dit heuglijke feit dan ook vieren met een BBQ!<h2>
		<%= image_tag "invitation/bbq.gif", :style => "margin-top:20px;margin-bottom:20px;" %>
		<h2>St. Canisiussingel 25, rond 18:00.</h2>
		<h2>Ivm inkopen graag even laten weten of je er bij kunt zijn, via thijs@dreamyourweb.nl.</h2>
	</div>
</html>


