<div data-role="header" id="mobile_header">
		<%= image_tag "banner.png", alt: "dreamyourweb" %>
    <div data-role="navbar" data-theme="a">
      <ul>
      <li><a href="#home" data-role="button" data-icon="dyw-home" data-icon-pos="top">Home</a></li>
      <li><a href="#portfolio" data-role="button" data-icon="dyw-briefcase" data-icon-pos="top">Wat</a></li>
      <li><a href="#werkwijze" data-role="button" data-icon="dyw-lab" data-icon-pos="top">Hoe</a></li>
      <li><a href="#about" data-role="button" data-icon="dyw-about" data-icon-pos="top">Wie</a></li>
      <li><a href="#contact" data-role="button" data-icon="dyw-chat" data-icon-pos="top">Contact</a></li>
      </ul>
    </div>
	</div><!-- /mobile_header -->
