<h2>Concept development</h2>
<div class="category-explanation">
	<%= manageable_content_for :concept_development %>
</div>
<br>
<div class="black-button">
	<%= link_to "Contact", {:action => "index", :controller => "contact", :to => "info@dreamyourweb.nl", :subject => "Dreamyourweb concepten"} %>
</div><br>
<%= link_to "Terug naar projectoverzicht", projects_path %>
