<div id="projects-container">
	<%= render :partial => "project", :collection => @projects%>
</div>

<% #if admin_signed_in? %>
	<br />
	<%= link_to 'New Project', new_project_path, :class => "admin" %>
<% #end %>
