<div id="portfolio-wip">
	<h2>Work in progress</h2>
	<hr class="small-line">
	<p>We zijn op dit moment flink aan het groeien. Daardoor is ons portfolio geen goede weerspiegeling meer van waar we nu aan werken. Over een tijdje zullen we een voorproefje geven van een aantal van onze grotere projecten. Als u nu al graag iets meer wilt weten, <%= link_to "neem dan contact met ons op", contact_path %>.</p>
</div>

<!--
<div id="projects-container">
	<% render :partial => "project", :collection => @projects%>
</div>

<% if admin_signed_in? %>
	<br />
	<% link_to 'New Project', new_project_path, :class => "admin" %>
<% end %>
-->
