<div>
	<h2>Onze meest recente projecten</h2>
	<p>Hieronder staat een aantal van onze meest recente projecten.</p>
</div>

<div id="projects-container">
	<%= render :partial => "project", :collection => @projects%>
</div>

<% if admin_signed_in? %>
	<br />
	<%= link_to 'New Project', new_project_path, :class => "admin" %>
<% end %>
