<div id="terms-and-conditions-content">
	<h3>Algemene voorwaarden</h3>	
	<br><p>Op al onze aanbiedingen en overeenkomsten zijn de ICT~Office Voorwaarden van toepassing, gedeponeerd bij de Kamer van Koophandel te Middel-Nederland onder nummer 30174840.</p><br> 
	<%= link_to "Download onze algemene voorwaarden (pdf)", "/algemene_voorwaarden.pdf" %><br>
	<%= link_to "Download gratis Adobe Reader", "http://get.adobe.com/nl/reader/" %> 
</div>
