<div id="terms-and-conditions-content">
	<h3>Algemene voorwaarden</h3>	
	<%= manageable_layout_content_for :body %><br><br>
	<%= link_to "Download onze algemene voorwaarden (pdf)", root_url + "algemenevoorwaarden_dreamyourweb.pdf" %><br>
	<%= link_to "Download gratis Adobe Reader", "http://get.adobe.com/nl/reader/" %> 
</div>
