= page_title "Data analyse - Van data naar geïnformeerde beslissingen"
= header_for "Data analyse", "Maatwerk oplossingen om data inzichtelijk te maken, de juiste informatie uit uw data te halen en om de juiste beslissingen te maken.", "blue"
= meta_description "Maatwerk oplossingen om data inzichtelijk te maken, de juiste informatie uit uw data te halen en om de juiste beslissingen te maken."

.mainContainer
	.row.main-row
		.ten.columns
			%h1.subheader Inzicht in data voor de juiste bedrijfsbeslissingen
			%p Data en gegevens zijn overal. Voor veel bedrijven en instellingen zit er een schat aan informatie verborgen in alle gegevens die ze verzamelen.
			%p Door data op de juiste manier te modelleren, analyseren en inzichtelijk te maken, wordt het mogelijk om de juiste informatie te ontsluiten.  Deze informatie kan je helpen bij het vormen van een visie, het kiezen van een richting of het onderbouwen van een belangrijke beslissing.  
			%p Door slim gebruik te maken van webtechnologie wordt het mogelijk om berekeningen uit te voeren en data overzichtelijk te presenteren. Het is zelfs mogelijk om ontwikkelingen real-time weer te geven. Zo kun je direct bijsturen, of real-time inzicht krijgen in belangrijke bedrijfsprocessen.
			%h2.subheader Wat kan een data toepassing voor mijn bedrijf betekenen?
			%p Een data analyse vormt een belangrijke stap binnen het omzetten van data naar kennis en inzicht. Met de vergaarde kennis kunnen uiteindelijk gegronde beslissingen worden genomen. Een mogelijkheid is bijvoorbeeld om interessante informatie over je bedrijfsprocessen te visualiseren op een real-time dashboard, zodat je ten alle tijden inzicht hebt.
			%p Op basis van de juiste data is het zelfs mogelijk om voorspellingen te doen over te verwachten trends en daar op in te spelen. Ook kan een analyse een eerste stap zijn voor de ontwikkeling van een nieuw product dat door jouw bedrijf aangeboden kan worden aan jouw klanten.
			%h2.subheader Meer weten?
			%p Met de juiste data zijn de mogelijkheden eindeloos, en vrijwel elk bedrijf heeft interessante gegevens voorhanden. Wil je meer weten wat jouw bedrijfsdata je kan vertellen, of wat een data toepassing voor jou kan betekenen? Neem dan vrijblijvend contact met ons op.