= page_title "Data visualisatie - Door inzicht naar de juiste bedrijfs beslissing"
= header_for "Data visualisatie", "Maatwerk oplossingen om informatie uit uw data te halen en deze overzichtelijk te presenteren", "blue"
= meta_description "Maatwerk oplossingen om informatie uit uw data te halen en deze overzichtelijk te presenteren."

.mainContainer
	.row.main-row
		.ten.columns
			%h1.subheader Data visualisatie voor snel inzicht

			%p Data visualisatie is misschien wel het belangrijkste onderdeel van een data toepassing en analyse. Data visualisatie heeft als doel om uitkomsten inzichtelijk te presenteren, zodat je ten alle tijden over de juiste informatie beschikt. Visualisatie kan gaan over het simpelweg presenteren van ruwe gegevens, tot het tonen van een gedetailleerd analyse resultaat.

			%h2.subheader Interactief inzicht tot op de bron

			%p Bij het nemen van een beslissing wil je zowel overzicht over het grote geheel, als kunnen inzoomen op specifieke details. Door slim gebruik te maken van web technologie, maken we visualisaties interactief. Zo zijn zowel de grote lijnen als de kleinste details tegelijkertijd inzichtelijk.

			%p Door data slim te presenteren kunnen we doorsnedes maken over meerdere niveaus, complexe data stromen inzichtelijk maken en grote datasets terugbrengen tot de kern.

			%h2.subheader Hulp bij het vinden van verbanden
			%p Data visualisatie helpt, naast het inzichtelijk maken van data, ook bij het vinden van onderlinge verbanden en connecties. Dergelijke verbanden helpen weer bij het modelleren van data, waaruit weer nieuwe inzichten gewonnen kunnen worden. Al dit draagt ertoe bij dat je data je nog meer kan vertellen over je eigen bedrijf.
			%h2.subheader Meer visualisatie mogelijkheden?
			%p Wil je meer weten over wat je data jou kan vertellen? Of heb je problemen met het visualiseren van data? Neem dan vrijblijvend contact met ons op.