= page_title "Lean management - Een universele strategie om snel en efficiënt goede resultaten te behalen bij een innovatief project"
= header_for "Lean management", "Een universele strategie om snel en efficient goede resultaten te behalen bij een innovatief project", "blue"
= meta_description "Lean management is een systematische manier van processen begeleiden en coördineren, zodat optimaal gebruik wordt gemaakt van resources en capaciteiten."

.mainContainer
	.row.main-row
		.ten.columns
			%h1.subheader Een universele management strategie
			%p Lean en lean management zijn zeer populaire management termen die momenteel hun intreden doen in het bedrijfsleven. Dit is niet voor niks aangezien het ontzettend veel voordelen kan hebben voor een bedrijf en de overleving daarvan. Aan lean management zitten een aantal principes verbonden.

			%h2.subheader Vermijden van afval en verspilling
			%p Een van de belangrijkste pijlers van lean is het vermijden of minimaliseren van afval. Dit door bedrijfs- of productie processen zo op te bouwen dat dingen hergebruikt kunnen worden danwel dat ze op het moment worden gebouwd wanneer dat echt nodig is. Doordat dit gedaan wordt voorkom je dat je bedrijf en producten onnodig groot en complex worden en dat je bijv. onnodige onderdelen maakt (in het geval van productiebedrijven) of ongebruikte code (bij webontwikkelaars zoals bij dreamyourweb).  

			%h2.subheader Interferentie alleen toepassen wanneer dat nodig is
			%p Lean management behelst ook het interfereren in het proces alleen als dat nodig is. Het uitgangspunt moet zijn dat mensen en machines goed functioneren als de facto en dat er ingegrepen dient te worden wanneer er iets fout gaat. Dit voorkomt onnodig monitoren en bespaard daarmee geld. De kunst is om goede triggers en automatische monitoringsprincipes te vinden die kunnen zien wanneer het fout gaat. Daarnaast is het van belang dat iedere werknemer de autoriteit heeft om een proces stop te zetten. Dit zorgt voor meer betrokkenheid en zal op den duur de hele (productie)proces of bedrijf verbeteren.

			%h2.subheader Werk interdisciplinair
			%p Dé methode om grote fouten te voorkomen is door ervoor te zorgen dat mensen in interdisciplinaire groepen werken. Doordat mensen dezelfde taal gaan spreken en elkaars werken beter leren begrijpen kunnen ze beter inschatten waar mogelijke problemen kunnen ontstaan in een product, process of bij het leveren van een dienst aan de klant. Daarnaast zal er beter wederwijds begrip worden getoond wanneer er iets fout gaat.

			%h2.subheader Maak beslissingen op basis van je eigen waarnemingen
			%p Een van de moeilijkste taken van een manager is het maken van beslissingen. Deze beslissingen worden namelijk vaak gemaakt op basis van data die uit tweede of derde hand komt. Lean management is erop gericht dat dit zo veel mogelijk wordt beperkt. Als er een belangrijke beslissing wordt gemaakt dan wordt er van een manager geacht dat deze ook de situatie in het echt heeft aanschouwt. Alleen dan kan ook echt een juiste beslissing worden genomen.

			%h2.subheader Lean management iets voor uw bedrijf?
			%p Wij gebruiken deze lean principes doorlopend in al onze projecten. Wil je meer te weten komen over hoe wij omgaan met lean management en hoe wij deze gedachtegang inzetten bij projecten? Neem dan contact met ons op. 