= page_title "Machine learning - Geautomatiseerd leren van data"
= header_for "Machine learning", "De modernste technieken om geautomatiseerd te leren van data, en informatie waardevol te maken voor alle bedrijfsniveaus", "blue"
= meta_description "De modernste technieken om geautomatiseerd te leren van data, en informatie waardevol te maken voor alle bedrijfsniveaus."

.mainContainer
	.row.main-row
		.ten.columns
			%h1.subheader Toegepaste machine learning

			%p Machine learning is een verzameling van technieken, waarmee computers in staat worden gesteld om data te interpreteren. Zo wordt machine learning bijvoorbeeld gebruikt om verdachte patronen bij het gebruik van credit cards te identificeren, of om risico’s in te schatten op basis van incomplete data.

			%h2.subheader Voorspellingen aan de hand van data

			%p Hoe meer data er voorhanden is, en hoe gerichter je vraag, hoe beter de resultaten van machine learning zullen zijn. Bij data van voldoende kwaliteit kunnen er met een bepaalde zekerheid zelfs voorspellingen worden gemaakt. Machine learning wordt dan ook onder andere toegepast bij de analyse van aandelenkoersen.

			%h2.subheader Machine learning voor jouw bedrijf

			%p Terwijl deze voorbeelden van machine learning in de top van de industrie worden toegepast, zijn  deze moderne technieken ook voor midden- en kleinbedrijf interessant. Een slim aanbevelingsmechanisme kan bijvoorbeeld op basis van eerder verkochte boeken in combinatie met een bezoekersprofiel gerichte aanbevelingen doen. Een zelflerende risico detector kan automatisch waarschuwen wanneer er iets dreigt mis te gaan. Of een classificatie systeem kan zelf leren om gewenste van ongewenste aanvragen te scheiden.

			%h2.subheader Zelf leren of machine learning iets voor jou is

			%p Er zijn ontzettend veel mogelijkheden om machine learning voor je te laten werken. Wil je samen de mogelijkheden verkennen? Neem dan vrijblijvend contact met ons op.