= page_title "Ruby on Rails - Webdevelopers"
= header_for "Ruby on Rails", "Efficiente, flexibele en schaalbare webapplicaties met Ruby on Rails", "blue"
= meta_description "Efficiënte, flexibele en schaalbare webapplicaties met Ruby on Rails."

.mainContainer
	.row.main-row
		.ten.columns
			%h1.subheader Webdevelopment met Ruby on Rails

			%p Voor het goed omgaan met data heb je de juiste gereedschappen nodig. Ruby on Rails is een raamwerk voor webontwikkeling dat sins 2004 aan een grote opmars is begonnen. Websites als Twitter, Groupon en Yammer zijn al in deze omgeving ontwikkeld.

			%h2.subheader Snelle en efficiente webapplicaties
			%p Ruby on Rails heeft als groot voordeel dat het flexibele webontwikkeling mogelijk maakt. Dit maakt Ruby on Rails zeer geschikt om innovatieve applicaties te bouwen, die snel getest en uitgebreid kunnen worden. Zo kunnen we snel bijsturen en uitzoeken wat écht werkt. Bij innovatieve data projecten is flexibele ontwikkeling onmisbaar, omdat je nooit zeker weet welke kansen er morgen op je pad komen.  

			%h2.subheader Betrouwbaar en geintegreerd met krachtige webdiensten
			%p Integratie met krachtige en betrouwbare webdiensten als Heroku en Amazon maken Ruby on Rails applicaties schaalbaar en onderhoudbaar. Daarnaast gebruiken we geeikte ontwikkelprincipes, door bij de ontwikkeling onze applicaties doorlopend geautomatiseerd te testen. Zo weten we zeker dat de applicatie ook doet waarvoor hij bedoeld is.

			%h2.subheader Een Ruby on Rails web applicatie iets voor jou?
			%p Wil je weten wat wij voor jou kunnen betekenen op het gebied van webontwikkeling? Of wil je de mogelijkheden eens verkennen? Neem dan vrijblijvend contact met ons op.