= page_title "Enquete app - Enquetes afnemen via je smartphone"
= header_for "Enquete app", "Enquetes afnemen via je smartphone", "blue"
= meta_description "Enquetes afnemen via je smartphone."

.mainContainer
	.row.main-row
		.ten.columns
			%h1.subheader Een enquete app voor het verzamelen van een data via je mobiele telefoon

			%p Het afnemen van een enquete of vragenlijst kent verschillende vormen. Ze kunnen worden telefonisch afgenomen worden; face-to-face; op papier; of online op internet of een pc. Met de komst van de smartphone en de tablet is er echter een nieuw medium bij gekomen.

			%h2.subheader De mobiele enquete
			%p Het afnemen van een enquête via een mobiele applicatie brengt nieuwe mogelijkheden met zich mee die niet met andere dragers mogelijk zijn. De voornaamste voordelen is het combineren van de antwoorden op de vragen met een locatie, een foto, een video of een geluidsfragment. Dit alles op een draagbaar apparaat als een mobiele telefoon of een tablet of een iPad.

			%h2.subheader Offline werken en met meerdere apparaten tegelijk
			%p Doordat een enquête app is gekoppeld aan een online database is het mogelijk om met meerdere apparaten tegelijk data te verzamelen. De enquêtes worden opgeslagen op het tablet of mobiele telefoon en kunnen met een druk op de knop worden geupload wanneer deze in verbinding staat met internet. Offline werken is dus geheel mogelijk.

			%h2.subheader Data eenvoudig te downloaden als CSV-bestand
			%p De data die door de verschillende applicaties worden ontwikkeld komen gezamenlijk opgeslagen in een database die online staat. Vanaf hier is het mogelijk alle data met een druk op de knop te downloaden naar een CSV bestand. Dit bestand kan vervolgens worden ingeladen worden in R, Matlab, of SPSS voor een analyse.

			%h2.subheader Uw eigen enquete app op maat
			%p De enquête app kan volledig op uw wensen worden gemaakt. Alternatieve routes door de vragen, bijv. het overslaan van bepaalde vragen na bepaalde antwoorden, is eenvoudig is mogelijk binnen de applicatie. Tevens kan de applicatie geheel worden vormgegeven in uw eigen huisstijl wanneer u dat wenst.

			%p Wilt u uw eigen enquête app of bent u heeft u advies nodig bij het opstellen van uw eigen enquête of vragenlijst neem dan vrijblijvend contact op met dreamyourweb.