<h3>Overzicht posts</h3>
<hr class="small-line">
<%= render :partial => "layouts/blog/post", :collection => @posts%>
<%= paginate @posts %>
<br />

<% if admin_signed_in? %>
	<%= link_to 'New Post', new_associate_post_path(@associate)%>
<% end %>
