<h3>Filter</h3>
<hr class="small-line">
<p><%= link_to "Geef alle artikelen weer", blog_path, :class => "bookman-link" %></p>
<hr>
<h5>Selecteer op schrijver:</h5>
<div id="associate-selection">
	<% @associates.each do |associate| %>
		<div class="selection-picture inner-shadow lifted shadow-small">
			<%= link_to image_tag(associate.avatar_url(:thumb).to_s, :alt => associate.name, :title => associate.name), associate_posts_path(associate) %> 
		</div>
	<% end %>
</div>
<div style="clear:both"></div>
<hr>
<h5>Selecteer op onderwerp:</h5>
<div id="tagcloud">
	<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
	  <%= link_to tag.name, {:controller => :blog, :action => :index, :tag => tag.name }, :class => css_class %>
	<% end %>
	<div style="clear:both"></div>
</div>
<hr>

