<div id="strip">
	<div class="content">
		<div id="blog-content">	
			<h1>Blog</h1>
			<%= manageable_layout_content_for :body %>
		</div>
		<div id="blog-logo">
		</div>
	</div>
</div>
<div style="clear:both"></div>
