= header_for "dreamyourweblog", "Waar we het hebben over alles wat on interesseert", "purple"

.container#blog
  .row
    .eight.columns
      = render :partial => "post", :collection => @posts
      = paginate @posts

    .four.columns
      = render :partial => "shared/blog_sidebar"
