= header_for "Laat van je horen", "Wij zijn dreamyourweb. Een innovatieve software ontwikkelaar in Nijmegen", "pink"

.container#contact
  .row
    .eight.columns
      %h2 Neem contact op
      %h2.subheader
        %small We zitten recht tegenover het centraal station van Nijmegen. Kom gerust langs om te kijken wat we voor je kunnen betekenen.

      #contact-info.border-bottom

        .row
          .twelve.columns
            %h4 dreamyourweb V.O.F.

        .row
          .six.columns
            %h5 Bezoekadres
            %ul
              %li Stationsplein
              %li 6500AA Nijmegen

            %h5 Postadres
            %ul
              %li Muntweg 512
              %li 6532 TS Nijmegen

            %dl
              %dt Telefoonnummer:
              %dd +31 (0)24-301 0100

            %dl
              %dd
                %a{:href => "mailto:info@dreamyourweb.nl"} info@dreamyourweb.nl

          .six.columns
          
            %dl
              %dt KvK:
              %dd 52749096

            %dl
              %dt BTW: 
              %dd 8505.80.626

      #contact-directions.border-bottom
        .row
          .twelve.columns

            %h4 Routebeschrijving

            <div id="mapviewer"><iframe id="map" Name="mapFrame" scrolling="no" width="500" height="400" frameborder="0" src="http://www.bing.com/maps/embed/?lvl=16&amp;cp=51.84285225413634~5.85440211904908&amp;sty=r&amp;draggable=true&amp;v=2&amp;dir=0&amp;where1=Stationsplein+13%2C+6512+Nijmegen%2C+Netherlands&amp;form=LMLTEW&amp;pp=51.8429985~5.8544502&amp;mkt=en-us&amp;emid=bbe389a3-5f16-77c5-95d3-e31525c27a9a&amp;w=500&amp;h=400"></iframe><div id="LME_maplinks" style="line-height:20px;"><a id="LME_largerMap" href="http://www.bing.com/maps/?mm_embed=map&amp;cp=51.84285225413634~5.85440211904908&amp;lvl=16&amp;sty=r&amp;where1=Stationsplein+13%2C+6512+Nijmegen%2C+Netherlands&amp;form=LMLTEW" target="_blank">View Larger Map</a>&nbsp;<a id="LME_directions" href="http://www.bing.com/maps/?mm_embed=dir&amp;cp=51.84285225413634~5.85440211904908&amp;rtp=~pos.51.8429985_5.8544502_Stationsplein+13%2C+6512+Nijmegen%2C+Netherlands&amp;lvl=16&amp;sty=r&amp;form=LMLTEW" target="_blank">Get Directions</a>&nbsp;<a id="LME_birdsEye" href="http://www.bing.com/maps/?mm_embed=be&amp;cp=51.84285225413634~5.85440211904908&amp;lvl=18&amp;sty=b&amp;where1=Stationsplein+13%2C+6512+Nijmegen%2C+Netherlands&amp;form=LMLTEW" target="_blank">View Bird's Eye</a></div></div>

            %h5 Vanaf Nijmegen centraal station
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            %h5 Vanaf het Noorden
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            %h5 Vanaf het Zuiden
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            %h5 Vanad de lucht
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      #more-dyw
        .row
          .twelve.columns

            %h4 Meer dreamyourweb

            %a.fc-webicon.twitter.large{:href => "http://twitter.com/#!/dreamyourweb"} Twitter
            %a.fc-webicon.facebook.large{:href => "http://www.facebook.com/pages/dreamyourweb/140587376041746"} Facebook

    .four.columns