/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree
*/

@mixin inner-shadow{
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	background-color: white;
		line-height: 0px;
	a{
		display: block;
		line-height: 0px;
		img{
			margin: 1px;
			line-height: 0px;
		}
	}
	img{
		margin: 1px;
		line-height: 0px;
	}
}



