.associate-container{
	// @include border-bottom();
	margin-bottom: 14px;
	margin-top: 30px;
}

#associates{
  @include page-color($dyw-red);

	h6.name{
	 text-align: center;
	}
	h6.job-title{
		text-transform: uppercase;
		margin-bottom: 3px;
		font-family: OpenSansBold;
		height: 30px;
		text-align: bottom;
	}
}

#dreamteam{
	p{
		-moz-column-count: 2;
		-moz-column-gap: 20px;
		-webkit-column-count: 2;
		-webkit-column-gap: 20px;
		column-count: 2;
		column-gap: 20px;
	}
}

