/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/opacity"; 
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius" ;
@import "compass/utilities/general/clearfix" ;
@import "compass/layout/sticky-footer" ;
@import "colors" ;
@import "fonts";

@include sticky-footer(225px) ;

body {
  background-color: $dyw-very-light-blue;
  color: $dyw-black;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

#root {
  @include clearfix ;
  margin: 0;
}

.content {
  width: 960px ;
  margin-left: auto ;
  margin-right: auto ;
  position:relative;
  margin-top: 30px;
} 

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 20px; }

hr {
	border-top:1px;
	border-bottom: 0;
	border-left:0;
	border-right:0;
	border-style:dotted;
	border-color:gray; 
	margin-top: 15px;
	margin-bottom: 15px;
} 

.small-line{
	border: 0;
	height:5px;
	background-image: url(separator_small.png);	
	margin-top: 5px;
	margin-bottom: 20px;
}

.big-line {
	border:none;
	background-image: url(separator_big.png);
	height:7px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: $dyw-blue;
  &:visited {
    color: $dyw-blue; }
  &:hover {
    color: $dyw-black;
  }
}
div {
  &.field, &.actions {
    margin-bottom: 10px; } }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

/*
Typography presets
------------------ */
.gigantic {
   font-size: 110px;
   line-height: 120px;
   letter-spacing: -2px;
} 

.huge, h1 {
   font-size: 68px;
   line-height: 72px;
   letter-spacing: -1px;
   font-family: 'BebasNeueRegular', impact, sans-serif;
}

.large, h2 {
   font-size: 42px;
   line-height: 48px;
   font-family: 'BebasNeueRegular', impact, sans-serif;
} 

.bigger, h3 {
   	font-size: 22px;
   	line-height: 24px;
   	font-family: 'BebasNeueRegular', impact, sans-serif;
	/*color:$dyw-blue;*/
	color: black;
	margin-bottom: 5px;
} 

.big, h4 {
   font-size: 26px;
   line-height: 28px;
   font-family: 'BebasNeueRegular', impact, sans-serif;
   a, a:link, a:hover, a:visited{
   		text-decoration: none;
   }
} 

h5 {
	font-family: 'BebasNeueRegular', impact, sans-serif;
	font-size: 15px;
	line-height: 18px;
	font-weight: normal;
}

.small, small {
   font-size: 13px; line-height: 18px;
}

.medium{
	font-size: 18px;
	line-height: 20px;
}

.bookman{
	font-family: 'Bookman Old Style', bookman, 'Times New Roman', serif;
	font-size: 13px;
	line-height: 20px;
}

.bebas{
	font-family: 'BebasNeueRegular', impact, sans-serif;
}

.bebas-link{
	font-family: 'BebasNeueRegular', impact, sans-serif;
}

.bookman-link{
	font-family: 'Bookman Old Style', bookman,'Times New Roman', serif;
	font-family: 'BebasNeueRegular', impact, sans-serif;
	font-style: regular;
	font-size: 17px;
	line-height: 21px;
	font-weight: normal;
	color: $dyw-blue;
	padding-left: 15px; 
	background-image: url(arrow.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;;
	text-decoration: none;
}

.bookman-link:hover{
	background-image: url(arrow_hover.png);
	text-decoration: none;
}

/*.bookman-link::before{
	color: $dyw-blue;
	content: ">> ";
}*/

.blue{
	color: $dyw-blue;	
}

#strip{
	color:white;
	width: 100% ;
	height: 200px ;
	padding: 25px 0 25px 0;
	background-color: $dyw-black ;
}

#home-left {
	/*padding-right:30px;*/
	margin-left: 10px;
	margin-right: 15px;
	width: 650px - 20px;
	float: left;
}

#sidebar-right {
	float: right;
	margin-left: 15px;
	margin-right: 10px;
	width: 960px - 30px - 650px;
}

.site-flash {
	background-color: $dyw-light-blue ;
	text-align:center ;
	line-height:25px;
}

#globe-logo{
	float:left;
	width: 200px ;
	height: 200px ;
	img {
		height:100%;
	}
}

#admin-container{
	width:1000px;
}

#header {
	margin: 0;
}

.main-left{
	padding-right:50px;
}

#main-container{
	vertical-align:top;
	width:100%;
}

.black-button{
	@include border-radius(8px);
	float:left;
	background: $dyw-black;
	width:150px;
	margin-right:10px;
	text-align:center;
  a {
		line-height: 40px ;
		font-size: 18px ;
		text-decoration:none;
		color:white;
	}	
}

#admin-nav{
	height:55px;
	width:150px;
	z-index:10;
	background-color:white;
	border:solid 3px black;
	text-align:center;
	position:fixed;
	top:10px;
	right:10px;
}

.read-more{
	/*font-family: "Bookman Old Style", bookman, 'Times New Roman', serif;
	font-style: italic;
	font-weight: bold;*/
	position:absolute;
	right:15px;
	bottom:0;
}

#sidebar-right{
	/*font-size: 11px;*/
	p{
		font-size: 11px;
	}
}

.field, .contact-field{
	margin-top: 15px;
	margin-bottom: 5px;
	label{
		margin-left: 3px;
	}
}

input, textarea{
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #bbb;
	border-radius: 2px;
	box-shadow: 0px 1px 5px #ccc;
	-webkit-box-shadow: 0px 1px 5px #ccc;
	-moz-box-shadow: 0px 1px 5px #ccc;
}

.actions{
	margin-top: 15px;	
}

.inner-shadow{
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	background-color: white;
		line-height: 0px;
	a{
		display: block;
		line-height: 0px;
		img{
			margin: 1px;
			line-height: 0px;
		}
	}
	img{
		margin: 1px;
		line-height: 0px;
	}
}

.inner-shadow::before, .inner-shadow::after {
	content: "";
	position: absolute;
	z-index: -2;
}

.lifted::before, .lifted::after{
	bottom: 15px;
	left: 10px;
	left: 4%;
	width: 50%;
	height: 20%;
	-webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.lifted::after {
	right: 10px;
	right: 4%;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

.shadow-small::before, .shadow-small::after{
	bottom: 5px;
	left: 3px;
	-webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.7);
	box-shadow: 0 5px 3px rgba(0, 0, 0, 0.7);
}

.shadow-small::after{
	right: 3px;
	left: auto;
}
.uppercase{
	text-transform:uppercase;
}

.left{
	float:left;
	margin-right: 10px;
}

.right{
	float:right;
	margin-left: 10px;
}