#blog{
	h1, h2, a h1, a h2, h2 a{
		color: $dyw-purple;
	}

	h2{
		margin-bottom: 0;
		font-family: OpenSansBold;
	}
	h4.subheader{
		margin-top: 0;
		time{
			font-family: OpenSansBold;
			text-transform: uppercase;
		}
	}
}