.pomodoro {
  height: 170px;
  width: 240px;
  float: right;
  background-image: url(blog/pomodoro.png);
}

.pomodoropapier {
  height: 400px;
  width: 600px;
  background-image: url(blog/Pomodoro-Sheet.png);
}