$dyw-footer-background: #bbe1ee;
$dyw-pink: #f1667d ;
$dyw-yellow: #f7ca02 ;
$dyw-grey: #e3e3e3 ;
$dyw-green: #7ac943 ;
$dyw-orange: #FF911E;
$dyw-purple: #675E9D;
$dyw-pink: #FF7BAC;
$dyw-black: #333333;
$dyw-blue: #309ab5; /*#64c6df; #668aba ;*/
$dyw-light-blue: #64c6df; /*#c7eaf3 ;*/
$dyw-box-blue: #64c6df ;/*#bdc8d6;*/
$dyw-very-light-blue: #F2FBFF;

$dyw-your: #00c4de;
$dyw-your-dark: #29869d;
$dyw-flow-black: #333333;
$dyw-red: #E9685D;

$dyw-pre: #242424;



