#contact{
  h1, h2, a h1, a h2{
    color: $dyw-pink;
  }
}

#contact-info{

  h5{
    color: #888;
    padding-bottom: 5px;
    margin-bottom: 0;
    text-transform:uppercase;
    font-size: 90%;
  }

  ul, li{
    list-style: none;
  }

}

#mapviewer{
  margin-bottom: 20px;
}

#more-dyw{
  .fc-webicon{
    margin-right: 10px;
  }
}