#flow{
	h1{
		font-size: 70px;
		line-height: 100px;
		text-align: center;
		padding-top: 145px;
		display: block;
		color: $dyw-flow-black;
	}
	h2{
		font-size: 50px;
		line-height: 60px;
		text-align: center;
		margin-bottom: 50px;
		color: $dyw-flow-black;
	}

	p{
		color: $dyw-flow-black;
		// font-size: 14px;
		line-height: 26px;
	}
}

span.blue{
	color: $dyw-your;
}
