@import "compass/layout/sticky-footer" ;

footer {
	position: relative;
	background-color: $dyw-black;
	color: $white;
	margin: 0;
	padding: 0;
	background-repeat: repeat-x;
	background-position: center top;
	a {
		text-decoration: none;
	 	color: $white;
	 	&:visited {
	    	color: $white;
	    }
	  	&:hover {
	    	color: white;
	  	}
	}
	.footer-shadow{
		width: 100%;
		background-image: url(big_shadow.png);
		background-position: center top;
		height: 42px;
	}
	.row.footer-content{
		margin-top: -20px;
	}

	#footer-contact{
		i{
			font-size: 50px;
		}
		.row{
			margin-bottom: 20px;
		}
	}

}


