@import "compass/layout/sticky-footer" ;

footer {
	position: relative;
	background-color: $dyw-black;
	color: #919191;
	margin: 0;
	padding: 0;
	background-repeat: repeat-x;
	background-position: center top;
	a {
		text-decoration: none;
	 	color: #ccc;
	 	&:visited {
	    	color: #ccc;
	    }
	  	&:hover {
	    	color: white;
	  	}
	}
	.footer-shadow{
		width: 100%;
		background-image: url(big_shadow.png);
		background-position: center top;
		height: 42px;
	}
	.row.footer-content{
	}

	#footer-contact{
		i{
			font-size: 40px;
		}
		.row{
			margin-bottom: 20px;
		}
	}

	#footer-bottom{
		background-color: black;
		height: 30px;
		padding-top: 8px;
	}

	h5.subheader{
		text-transform: uppercase;
		font-family: OpenSansBold;
		font-size: 90%;
		margin-top: 0;
	}

}


