header{
	margin-bottom: $nav-margin;

	.header-container{
		border-top-style: solid;
		border-top-width: 3px;
		border-top-color: $dyw-your;
		background-size: auto 100%;
		min-height: 175px;
		background-color: $dyw-black;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: auto 100%;

		h1{
			background-color: transparentize(green, 0.1);
			display: inline-block;
			padding: 3px 10px 10px 10px;
			margin-top: 20px;
			color: $dyw-very-light-blue;
			@include respondTo(smallScreen){
				// font-size: ms(8);
				// line-height: ms(8);
			}
			float: left;
			clear: both;
		}

		background-image: url(header_portfolio.jpg);

		&.diensten{
			background-color: #01288d;
			background-image: url(header_products.jpg);
		}

		&.portfolio{
			background-color: #75a557;
			background-image: url(header_portfolio.jpg);
		}

		&.about{
			background-color: #316497;
			background-image: url(header_about.jpg);
		}

		&.blue{
			border-color: $dyw-your;
			background-image: url(header_portfolio.jpg);
			h1{background-color: transparentize($dyw-your, 0.1)};
		}

		&.green{
			background-color: #75a557;
			border-color: $dyw-green;
			background-image: url(header_portfolio.jpg);
			h1{background-color: transparentize($dyw-green, 0.1)};
		}

		&.orange{
			border-color: $dyw-orange;
			background-image: url(header_portfolio.jpg);
			h1{background-color: transparentize($dyw-orange, 0.1)};
		}

		&.red{
			border-color: $dyw-red;
			background-image: url(header_about.jpg);
			h1{background-color: transparentize($dyw-red, 0.1)};
		}

		&.purple{
			border-color: $dyw-purple;
			background-image: url(header_blog.jpg);
			h1{background-color: transparentize($dyw-purple, 0.1)};
		}

		&.pink{
			border-color: $dyw-pink;
			background-image: url(header_contact.jpg);
			h1{background-color: transparentize($dyw-pink, 0.1)};
		}

		h1.subheader{
			margin-top: 0;
			background-color: transparentize($dyw-black, 0.1);	
			padding: 0;
			small{
				padding: 0px 6px 6px 6px;
				line-height: 150%;
				color: $white;
			}
		}
	}

	
}

#strip-portfolio-sides{
	width: 100%;
	background-image: url(header_portfolio_sides.png);
}

#strip-about-sides{
	background-image: url(header_about_sides.png);
}

#strip-blog-sides{
	background-color: black;
}

#strip-contact-sides{
	background-color: black;
}

#strip-products-sides{
	background-image: url(header_products_sides.png);
}

#strip-portfolio-center{
	background-color: #75a557;
	background-image: url(header_portfolio.jpg);
}

#strip-about-center{
	background-color: #316497;
	background-image: url(header_about.jpg);
}

#strip-blog-center{
	background-color: black;
	background-image: url(header_blog.jpg);
}

#strip-contact-center{
	background-color: black;
	background-image: url(header_contact.jpg);
}

#strip-products-center{
	background-color: black;
	background-image: url(header_products.jpg);
}

#strip-proces-center{
	background-color: black;
	background-image: url(header_proces.jpg);
}
