@import "compass/css3";
@import "compass/typography/lists/horizontal-list";
@import "compass/css3/border-radius" ;
@import "compass/utilities/general/clearfix" ;
@import "colors" ;
@import "fonts";

#header-logo {
	background: url(logo_smaller.png) no-repeat scroll 0 0 transparent;
	margin: 20px 0 0 0;
  	display: block;
  	text-indent: -9999px;
	width:201px;
	height:64px;
	float:left;
	display: block;
}

#header-logo-link{
	width:201px;
	height:64px;
	display: block;
}

#menu-nav-item{
  height: 100px;
	overflow:hidden
}

#header-menu {
	@include clearfix ;
	float: right ;
	width: 690 ;
	margin-top:30px;
	#header-menu-nav {
		overflow:hidden;
	}
	ul {
		@include horizontal-list ;
		li {
			border-right: 1px solid #666666;
			margin: 0;
			padding: 0 15px 0 15px;
			height:50px;
			overflow:hidden;
			.true {
				img {
					top:-50px;
				}
			}
			img {
				position:relative
			}
			&:hover {
				img {
					top:-50px;
				}
			}
			.home{
				display: block;
				width: 69px;
			}
			.products{
				display: block;
				width: 122px;
			}
			.portfolio{
				display: block;
				width: 126px;
			}
			.about{
				display: block;
				width: 78px;
			}
			.blog{
				display: block;
				width: 60px;
			}
			.contact{
				display: block;
				width: 106px;
			}
		}
		li:last-child{
			border: none;
		}
	}
	a {
		text-decoration: none ;
	}
}

#categories-strip {
	width:100%;
	height:154px;
	background-image: url(bluegradient_blue.png);
	background-position: center top;
	#categories-pictures-container{		
		width: 358px + 283px + 216px;
		height: 87px;
		margin: 0 auto;
		padding-top: round(67px/2);	
		ul {
			@include horizontal-list ;
			li{
				margin: 0 0 0 0;
				padding: 0;
				height:87px;
				overflow:hidden;
				.true {
					img {
						top:-87px;
					}
				}
				img {
					position:relative
				}
				&:hover {
					img {
						top:-87px;
					}
				}
			}
		}
	}
}

#strip-content{
	float:left;
	width:775px;
	margin-right:25px;
}

header {
  background-color: black;
	background-image: url(header_background.png);
	height:112px;
	@include clearfix ;
}

.strip-wide{
	width: 100%;
	height: 275px;
}

.strip-center{
	max-width: 1280px;
	height: 275px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center top;
}

#strip-portfolio-sides{
	width: 100%;
	background-image: url(header_portfolio_sides.png);
}

#strip-about-sides{
	background-image: url(header_about_sides.png);
}

#strip-blog-sides{
	background-color: black;
}

#strip-contact-sides{
	background-color: black;
}

#strip-products-sides{
	background-image: url(header_products_sides.png);
}

#strip-portfolio-center{
	background-color: #75a557;
	background-image: url(header_portfolio.jpg);
}

#strip-about-center{
	background-color: #316497;
	background-image: url(header_about.jpg);
}

#strip-blog-center{
	background-color: black;
	background-image: url(header_blog.jpg);
}

#strip-contact-center{
	background-color: black;
	background-image: url(header_contact.jpg);
}

#strip-products-center{
	background-color: black;
	background-image: url(header_products.jpg);
}
