#partner-logos{
	.has-tip{
		border: none;
		cursor: pointer;
	}
}

#dreamteam-header{
	background-image: url(dreamteam-home.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
	background-size: auto 100%;
	padding-top: 30px;

	@media only screen and (max-width: 700px){
		background-size: auto 120%;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	margin-bottom: 0;
}

#we-do-this{
	padding-top: 30px;
	background-color: #BCE4EE;
	li{
		text-align: center;
		p{margin: 0;}
	}
	a:link, a:hover{
		text-decoration: none;
		h3{
			@include respondTo(smallScreen){
				font-size: ms(2);
			}
		}
	}
	a:hover{
		h3{
			color: $dyw-your;
		}
	};
	img{
		display: block;
		margin: 0 auto 20px auto;
		height: auto;
		max-width: 100%;
	}
}

h1.super{
	@include clearfix();
	span.big-ass{
		clear: both;
		float: left;
		font-size: 120px;
		line-height: 96px;
		background-color: transparentize($dyw-your, 0.1);
		display: inline-block;
		padding: 15px;
		padding-bottom: 0;
		margin: 0;
		color: $dyw-very-light-blue;

		@media only screen and (max-width: 850px) and (min-width: 700px) {
			font-size: 100px;
			line-height: 80px;
		}

		@media only screen and (max-width: 700px){
			font-size: 50px;
			line-height: 40px;
			padding: 8px;
		}
	}

	span.sub-uvp{
		clear: both;
		font-family: OpenSansBold;
		color: $dyw-very-light-blue;
		background-color: transparentize($dyw-black, 0.1);
		font-size: 18px;
		line-height: 16px;
		padding: 8px 10px 10px 10px;
		display: inline-block;
		float: left;

		@media only screen and (max-width: 700px){
			font-size: 14px;
			line-height: 20px;
			padding: 0px 4px 0px 4px;
		}
	}
}



#projects-container{
	.project-container{
		h5{
			margin-bottom: 5px;
		}
		margin-bottom: 0;
		h3{
			@include respondTo(smallScreen){
				font-size: ms(2);
			}
		}
	}

}

#manifesto{
	.button-clean{
		margin-bottom: 0;
	}
	.dyw-moon{
		margin-left: 50px;
	}
}