.container.home{
	@include page-color($dyw-your);
}

.text-bottom-align{
	vertical-align:bottom;
}

#partner-logos{
	.has-tip{
		border: none;
		cursor: pointer;
	}
	text-align: center;
}

#dreamteam-header{
	@include single-box-shadow(black, 0, 0, 20px, 0px, true);
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: $dyw-your;
	background-image: url(dreamteam-home.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
	background-size: auto 100%;
	padding-top: 30px;
	margin-bottom: 0;

	@media only screen and (max-width: 700px){
		background-size: auto 120%;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	margin-bottom: 0;
}

#we-do-this{
	@include border-bottom();
	margin-top: -$nav-margin;
	padding-top: 30px;
	.four.columns{
		h4{
			text-align: center;
		}
		p{margin: 0;}
	}
	a:link, a:hover{
		text-decoration: none;
		h3{
			@include respondTo(smallScreen){
				font-size: ms(2);
			}
		}
	}
	a:hover{
		h3{
			color: $dyw-your;
		}
	};
	img{
		display: block;
		margin: 3px auto 20px auto;
		height: auto;
		max-width: 100%;
	}
}

h1.super{
	@include clearfix();
	span.big-ass{
		clear: both;
		float: left;
		font-size: ms(7);
		background-color: transparentize($dyw-your, 0.1);
		display: inline-block;
		padding: 5px 15px 15px 15px;
		margin: 0;
		color: $dyw-very-light-blue;

		@media only screen and (max-width: 850px) and (min-width: 700px) {
			font-size: 100px;
			line-height: 80px;
		}

		@media only screen and (max-width: 700px){
			font-size: 50px;
			line-height: 40px;
			padding: 8px;
		}
	}

	span.sub-uvp{
		clear: both;
		font-family: OpenSansBold;
		color: $dyw-very-light-blue;
		background-color: transparentize($dyw-black, 0.1);
		font-size: 18px;
		line-height: 16px;
		padding: 8px 10px 10px 10px;
		display: inline-block;
		float: left;

		@media only screen and (max-width: 700px){
			font-size: 14px;
			line-height: 20px;
			padding: 0px 4px 0px 4px;
		}
	}
}



#projects-container-home{
	@include border-bottom();
	.project-container{
		margin: 0 auto;
		h3{
	   		a{
				color: $dyw-black;
			    &:hover{
			    	color: $dyw-very-light-blue;
			     }
    		}
		}
	}
}

#manifesto{
	@include border-bottom();
	.button-clean{
		margin-bottom: 0;
	}
	.dyw-moon{
		margin-left: 50px;
	}
}

#home-live{
	color: $white;
	.panel{
		h1, h2, h3, h4, h5, h6{
			color: $white;
			font-family: OpenSansBold;
		}
		height: 270px;
		p{
			display: block;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
	.panel.twitter{
		background-color: $dyw-red;
	}
	.panel.blog{
		background-color: $dyw-purple;
	}
	h5{
		border-color:  $white;
	}
	a:hover{
		h4{
			color: #ccc;
		}
	}
}

#barServices{
	position: relative;
	font-weight: 300;
}