// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";
@import "compass/utilities/general/clearfix" ;
@import "compass/css3/opacity";
@import "compass/css3/border-radius" ; 
@import "colors" ;

/* Button shizzle */
@mixin rounded($border)
{
  -webkit-border-radius: $border ;
  -moz-border-radius: $border ;
  border-radius: $border ;
}

@mixin shadow
{
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2) ;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2) ;
  box-shadow: 0 1px 2px rgba(0,0,0,.2) ;
}

@mixin gradient($top, $bottom)
{
  background-color: $bottom;
  background: -webkit-gradient(linear, left top, left bottom, from($top), to($bottom));
  background: -moz-linear-gradient(top, $top,  $bottom);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr:'#{$top}', endColorstr:'#{$bottom}');
}

@mixin button
{
  display: inline-block;
  padding: .5em 2em .55em;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  @include rounded('.5em');
  // this determines Mozilla to show the padding
  border: solid 1px #ccc;
  @include shadow;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  &:hover
  {
    text-decoration: none;
  }
  &:active
  {
    position: relative;
    top: 1px;
  }
}

@mixin color($background)
{
  border: solid 1px darken($background, 3%) ;
  @include gradient(lighten($background, 13%), $background);
  color: mix(#fff, $background, 90%);
  &:hover
  {
    @include gradient(lighten($background, 10%), darken($background, 5%));
  }
  &:active
  {
    @include gradient($background, lighten($background, 10%));
    color: mix(#fff, $background, 70%);
  }
}

#home-left {
	/*padding-right:30px;*/
}

#home-strip {
	width: 100% ;
	height: 398px ;
	background-color: $dyw-black ;
	background-image: url(splash.jpg);
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	overflow: hidden;
	position: relative;
	text-align: center;	
	#left{
		position: absolute;
		top: 150px;
		left: 0px;
		float:left;
		z-index: 5;
	}
	#right{
		position: absolute;
		top: 150px;
		right: 0px;
		float:left;
		z-index: 5;
	}
	#home-banner-container{
		text-align: left;	
		height: 368px;
		/*width: 100%px;*/
		overflow: auto;
		position:relative;
		margin:0 auto;
		padding-top: 30px;
		#slideInner{
			position:relative;		
		}
		.home-banner-element
		{
			background-image: url(glasspanel.png);
			background-repeat: no-repeat;
			background-position: center top;
			height:332px;
			margin: 0 auto;
			.banner-element-content{
				height:332px;
				width:928px;
				margin: 0 auto;
				position: relative;
				vertical-align: top;
				.banner-element-text{
					margin: 40px;
					width: 500px;
					position: absolute;
					h2{
						margin-bottom: 15px;
					}
					p{
						font-style: italic;
					}
				}
				.banner-element-image{
					z-index:100;
					position: absolute;
					overflow: visible;
					background-repeat: no-repeat;
				}
				#mobile-image { 
					background-image: url(mobile.png);
					right: 20px;
					top: -20px;
					width: 220px;
					height: 374px;
				}
				#web-image { 
					background-image: url(web.png); 
					right: -10px;
					top: -20px;
					width: 380px;
					height: 374px;
				}
				#concept-image { 
					background-image: url(concept.png); 
					right: 20px;
					top: -20px;
					width: 320px;
					height: 374px;
				}
			}
		}
	}
	a.control, a.control:link, a.control:hover, a.control:visited{
		color: white;
		text-decoration: none;
	}
	#home-banner-bullets
	{
		height: 16px;
		display: inline-block;
		padding-left: 6px;
		margin: 0 auto;
		float:left;
		left:50%;
		z-index: 50;
		position: relative;
		top: -30px;
		ul{
			height: 16px;
			float: left;
			position: relative;
			right: 50%;
			li{
				float: left;
				width: 16px;
				height: 16px;
				background-image: url(splash_bullets.png);
				background-position: 0 16px;
				cursor: pointer;
			}
			.active-bullet{
				background-position: 0 0;
			}
		}
	}
}

#home-banner{
}

@font-face {
  font-family: BebasNeue;
  src: url('/BebasNeue.otf');
}

#project-picture{
	float:left;
}

.featured {
	/*@include box-shadow(2px 2px 10px black);
	background-color: $dyw-box-blue ;*/
	height:210px;
	.feature-shadow
	{
		background-image: url(imageshadow-300x200.png);
		width: 296px;
		height: 210px;
		float:left;
		img{
			width:280px;
			height:200px;
			margin-top: 2px;
			margin-left: 8px;
			margin-right: 8px;
		}	
	}
	.excerpt-container{
		position: relative;
		width: 330px;
		height: 210px;
		float:right;
		.excerpt{
			h4{
				margin-bottom: 5px;
			}
			@include clearfix;
			overflow-y:hidden;
			position:relative;
			width:100%;
			height:170px;
		}
		.read-more
		{
		position: absolute;
		bottom: 5px;
		right: 15px;
	}
	}

	margin-top: 20px;
	margin-bottom: 20px;

	.dreamteam
	{
		float: left;
	}

	.dreamteam-img
	{
		float: right;
	}
}


.sidebar-post{
	position:relative;
	margin-bottom: 10px;
	margin-top: 10px;

	.sidebar-post-image-shadow{
		float: left;
		background-image: url(post_thumb_shadow.png);
		width: 60px;
		height: 58px;
		img{
			width: 52px;
			height: 52px;
			margin-top: 2px;
			margin-left: 4px;
			margin-right: 4px;
		}
	}

	.read-more
	{
		color: $dyw-blue;
		font-weight: bolder;
		a, a:link, a:hover, a:visited{
			font-size: 14px;
			font-weight: bolder;
		}
	}
	
	.sidebar-post-header{
		margin-left: 70px;
		h4{
			line-height: 26px;
		}
		.bookman{
			font-size: 13px;
			line-height: 15px;
			text-transform: uppercase;
		}
		.bebas{
			font-family: 'BebasNeueRegular', impact, sans-serif;
			font-size: 12px;
			line-height: 20px;
			text-transform: uppercase;
		}
	}
}

.button {
  @include button;
  @include color($dyw-black);
  @include rounded(5px) ;
}

#last-tweet{
	font-family: bookman-old-style, bookman, 'Times New Roman', serif;
	color: #637579;
	font-style: italic;
	font-size: 18px;
}


