.contain-to-grid{
// 	background-color: black;
// 	background-image: url(header_background.png);
	// margin-bottom: $nav-margin;
}

// @media only screen and (min-width: 750px) {

	nav.top-bar.dyw-nav{
		
		li.name {
			background: url(logo_smallest.png) no-repeat scroll 0 0 transparent;
			margin: 0;
		  	display: block;
		  	text-indent: -9999px;
			width:201px;
			height:64px;
			float:left;
			display: block;
		}	
	}

	// @media only screen and (max-width: 960px) {
	  // 	nav.top-bar.dyw-nav{
	  // 		height: 45px;
			// ul.right {
			// margin-top: 0;
			// 	li {
			// 		border: none;
			// 		margin: 0;
			// 		padding: 0;
			// 		a, {
			// 			text-indent: 0;
			// 			height: 45px;
			// 			width: auto !important;
			// 			background: none !important;
			// 		}
			// 	}
			// }
	  // 	}

	// }
// }

// @media only screen and (max-width: 960px) {
 //  	nav.top-bar.dyw-nav{
 //  		background-image: url(header_background.png);
 //  		li.name {
	// 		background: url(logo_smallest.png) no-repeat scroll 0 0 transparent;
	// 		width:210px;
	// 		height:100%;
	// 		margin: 0;
	// 		text-indent: -9999px;
	// 		background-position: auto -5px;
	// 	}
	// }
// }