// Place all the styles related to the partners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";
@import "compass/utilities/general/clearfix" ;
@import "colors" ;

.partner-container{
	margin-bottom:20px;
	margin-top:20px;
	position:relative;
	min-height: 159px;

	.partner-photo-shadow{
		width: 160px;
		height: 159px;
		background-image: url(partner_shadow.png);
		img {
			width: 150px;
			height: 150px;
			margin-top: 2px;
			margin-left: 5px;
			margin-right: 5px;
		}
	}

	.partner-description{
		position: absolute;
		top: 0px;
		left: 170px;
		width:470px;
		padding-left:5px;
		padding-right: 5px;
		h4{
			margin-bottom: 10px;
		}
	}
	
	.partner-button-container{
		position: absolute;
		bottom: 5px;
		left: 180px;
		font-style: italic;
		font-weight: bold;
		font-size: 14px;
		color: $dyw-blue;
		li{
			display: inline;
			margin-left: 5px;
			margin-right: 5px;
		}
		a{
			font-size: 14px;
		}
	}
}

.technique-container{
	padding-top:5px;
	.technique-image{
		float:left;
		width:50px;
		height:50px;
		margin:5px;
		img{
			width:100%;
		}
	}
}

#partner-photo{
	background-image: url(polaroid.png);
	margin: 0 auto;
	width: 600px;
	height: 619px;
	img{
		margin-left: 51px;
		margin-top: 29px;
	}
}

#partner-content{
	.bookman-link:first-child{
		float:left;
		margin-right: 20px;
	}
}


