// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";
@import "compass/utilities/general/clearfix" ;
@import "colors" ;

#tagcloud {
	.css1 { float:left;  padding:5px; font-size: 1.0em;}
	.css2 { float:left;  padding:7px; font-size: 1.2em; }
	.css3 { float:left;  padding:12px; font-size: 1.4em; }
	.css4 { float:left;  padding:15px; font-size: 1.6em; }
}

#blog-content{
	float:left;
	width:775px;
	margin-right:25px;
}

#blog-logo{
	float:left;
	width: 200px ;
	height: 200px ;
	img {
		height:100%;
	}
}

.post-container{
	margin-bottom:20px;
	margin-top:20px;
}

.post-blog-photo-shadow{
	float: left;
	width: 81px ;
	height: 81px ;
	background-image: url(blog_image_shadow.png);
	margin-bottom: 10px;
	margin-right:10px;
	img {
		width: 75px ;
		height: 75px ;
		margin-top: 2px;
		margin-left: 3px;
		margin-right: 3px;
	}
}

#post-body{
	padding-top:10px;
	padding-bottom:10px;
}

.selection-picture-shadow{
	float: left;
	background-image: url(post_thumb_shadow.png);
	width: 60px;
	height: 58px;
	img{
		width: 52px;
		height: 52px;
		margin-top: 2px;
		margin-left: 4px;
		margin-right: 4px;
	}
}

#post-info{
	float:left;
	margin-right:10px;
	margin-left:10px;
	h4{
		margin-bottom: 5px;
	}
	.bookman
	{
		font-size: 14px;
		text-transform:uppercase;
		margin-bottom: 5px;
	}
	.bebas
	{
		font-size:16px;
	}
}

.post-header{
	padding-bottom:5px;
}

.post-title {
	color:$dyw-black;
	a &:visited {
		color:$dyw-black;
	}
}

#partner-description{
	float:left;
	width:300;
	padding-left:5px;
}
