// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";
@import "compass/utilities/general/clearfix" ;
@import "colors" ;

#tagcloud {
	.css1 { float:left;  padding:5px; font-size: 1.0em;}
	.css2 { float:left;  padding:7px; font-size: 1.2em; }
	.css3 { float:left;  padding:12px; font-size: 1.4em; }
	.css4 { float:left;  padding:15px; font-size: 1.6em; }
}

#blog-content{
	float:left;
	width:775px;
	margin-right:25px;
}

#blog-logo{
	float:left;
	width: 200px ;
	height: 200px ;
	img {
		height:100%;
	}
}

.post-container{
	margin-bottom:20px;
	margin-top:20px;
}

.post-blog-photo{
	float: left;
	margin-bottom: 10px;
	margin-right:20px;
	clear:right;
}

#post-body{
	padding-top:10px;
	padding-bottom:10px;
	p:first-child{
		font-weight: bold;
	}
}

.selection-picture{
	float: left;
	margin: 5px;
}

#post-info{
	margin-right:10px;
	margin-left:10px;
	h4{
		margin-bottom: 5px;
	}
	.bookman
	{
		font-size: 13px;
		color: gray;
		a{
			text-decoration: none;
		}
		margin-bottom: 5px;
	}
	.bebas
	{
		font-size:16px;
	}
}

.post-header{
	/*padding-bottom:5px;*/
}

.post-title {
	color:$dyw-black;
	a &:visited {
		color:$dyw-black;
	}
}

#partner-description{
	float:left;
	width:300;
	padding-left:5px;
}

#comments-container{
	margin-top: 30px;
}

#postcomment-container{
	margin-top: 30px;
	textarea{
		width: 100%;
	}
}

.comment-container{
	.comment-head p{
		color: gray;
		font-size: 11px;
		line-height: 11px;
		span.bookman{
			color: gray;
			font-size: 11px;
			line-height: 11px;
			font-weight: bold;
		}
	}
}