@import "compass/css3";
@import "compass/utilities/general/clearfix" ;
@import "colors" ;

#products-maincontent
{
	margin-bottom: 20px;
}

.product-sub-nav {
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	width:450px;
	height:110px;
	border:1px dotted black;
}
.product-panel{
	float:left;
	text-align:center;
	width:150px;
	.product-panel-image{
		margin-left:auto;
		margin-right:auto;
		width: 70px;
		height: 70px;
		a, a:link, a:hover, a:visited{
			display: block;
			width: 100%;
			height: 100%;
		}
	}	
	.product-panel-content{

	}
	.cogs{
		background-image: url(products_cog.png);	
	}
	.phone{
		background-image: url(products_phone.png);	
	}
	.globe{
		background-image: url(products_globe.png);	
	}
	/*h4{
		a, a:link, a:visited{
			color: black;
			text-decoration: none;
		}
		a:hover{
			color: $dyw-blue;
		}
	}*/
	.lees-meer{
		float:right;
	}
}
