.tech-container {
	h4 {
		text-align:center;
		padding:10px 0 5px 0;
		a:link{
			text-decoration: none;
		}
	}
	margin-bottom: 20px;
}

#products, #tech{
	@include page-color($dyw-green);
}

#products{	

	.service-image{
		vertical-align: center;
		h4{
			height: 50px;
		}
		min-height:50px;
		background-size: 50px;
		background-position: left-center;
		padding-left: 60px;
		background-repeat: no-repeat;
	}

	.service-image.right{
		float: right;
		margin-right: 0;
		margin-left: 30px;
	}


	.service-image.datacollection{
		background-image: url(datacollection-small-green.png);
	}
	.service-image.integration{
		background-image: url(integration-small-green.png);
	}
	.service-image.insight{
		background-image: url(insight-small-green.png);
	}

}

.flow-circles{
	p, h6{
		text-align: center;
	}
	&.block-grid.five-up > li{
		padding: 0 20px 0 20px;
	}
}

.section-lean{
	i{
		font-size: ms(2);
		> h4{
			position: relative;
			top: -3px;
			display: inline;
		}
	}
}