// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3/box-shadow";
@import "compass/css3/border-radius" ;
@import "colors" ;

.roundabout-holder { padding: 0; height: 340px; list-style: none }
.roundabout-moveable-item {
  height: 20em;
  width: 40em;
  cursor: pointer;
	background-color:$dyw-blue;
	overflow-y:auto;
	@include border-radius(8px);
	p { font-size:0.9em; line-height:1em;}
	h4 { font-size:1.5em; height:1.5em;}
	a { 
		color:$dyw-black ;
		&:hover {
			color:white;
		}
	}
	img {
		float:left;
		height:20em;
		width:20em;
	}
	.project-description{
		float:left;
		width:18em;
		padding:0.5em;
	}
}
.roundabout-in-focus { cursor: auto; }

#categories-navigation {
	font-size:1.5em;
	a {
		text-decoration:none;
	}
}
