// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3/box-shadow";
@import "compass/css3/border-radius" ;
@import "colors" ;

.project_container {
	width:290px;
	padding:5px;
	margin:5px;
	/*border: 1px solid $dyw-black;*/
	float:left;
	position:relative;
	.image_container {
		overflow:hidden;
		width:290px;
		height:200px;		
	}
	h4 {
		text-align:center;
		padding:10px 0 5px 0;
	}
	.excerpt-container{
		font-family: bookman-old-style, bookman, 'Times New Roman', serif;
		font-style: italic;
		height:200px;
		overflow-y:auto;
	}
}

.read-more-portfolio {
	font-family: bookman-old-style, bookman, 'Times New Roman', serif;
	font-style: italic;
	font-weight: bold;
	position:absolute;
	right:5px;
	bottom:0px;
}
#categories-navigation {
	font-size:1.5em;
	a {
		text-decoration:none;
	}
}
