html,body{
	background-color: white;
}

.row.main-container{
	margin-bottom: 20px;
}

.container{
	@include clearfix();
	padding-bottom: 40px;
	margin-bottom: 40px;
	&.last{
		margin-bottom: 0;
		padding-bottom: 0;
	}
	&.shadow-after, &.small-shadow-after{
		position: relative;
		display: block;
		&::after{
			position: absolute;
			bottom: -42px;
			content: "";
			display: block;
			height: 42px;
			width: 100%;
			background-image: url(big_shadow.png);
			background-position: center top;
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-color: transparent;
			z-index: 20;
		}
	}

	&.small-shadow-after{
		&::after{
			background-image: url(shadow-1.png);
			height: 13px;
			bottom: -13px;
		}
	}
}

.sticky-side-nav, .fixed-side-nav, .panel{
	h5{
		color: #888;
		padding-bottom: 5px;
		margin-bottom: 0;
		text-transform:uppercase;
		font-size: 90%;
		border-bottom-style: solid;
		border-bottom-color: black;
		border-bottom-width: 1px;
	}
}

.panel {
	h5{
		border-bottom-color: #aaa;
		margin-bottom: 5px;
	}

	ul, ul li{
    	list-style: none
  	}
  	ul{
  		margin-bottom: 20px;
  	}
  	li{
  		padding-bottom:6px;
  	}
}

.border-bottom{
	@include border-bottom();
}

h2 + h2.subheader{
	margin-top: -15px;
}

small{
	font-family: OpenSansLight;
	font-weight: 50;
}

@media only screen and (min-width: 768px) {
	.block-grid.two-up > li:nth-child(2n+1),
	.block-grid.three-up > li:nth-child(3n+1),
	.block-grid.four-up > li:nth-child(4n+1),
	.block-grid.five-up > li:nth-child(5n+1) {
	    clear: both;
	}
}

@media only screen and (max-width: 768px) {
	.block-grid.mobile-two-up > li:nth-child(2n+1),
	.block-grid.mobile-three-up > li:nth-child(3n+1),
	.block-grid.mobile-four-up > li:nth-child(4n+1),
	.block-grid.mobile-five-up > li:nth-child(5n+1) {
	    clear: both;
	}
}