html,body{
	background-color: $dyw-very-light-blue;
}

.row.main-container{
	margin-bottom: 20px;
}

.container{
	@include clearfix();
	padding-bottom: 40px;
	margin-bottom: 40px;
	&.last{
		margin-bottom: 0;
		padding-bottom: 0;
	}
	&.shadow-after, &.small-shadow-after{
		position: relative;
		display: block;
		&::after{
			position: absolute;
			bottom: -42px;
			content: "";
			display: block;
			height: 42px;
			width: 100%;
			background-image: url(big_shadow.png);
			background-position: center top;
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-color: transparent;
			z-index: 20;
		}
	}

	&.small-shadow-after{
		&::after{
			background-image: url(shadow-1.png);
			height: 13px;
			bottom: -13px;
		}
	}
}