<div class="product-sub-nav">

	<div class="video inner-shadow lifted">
		<div id="jw-container">Loading the player ...</div>
	</div>

	<script type="text/javascript">
	    jwplayer("jw-container").setup({
	        flashplayer: "/jwplayer/player.swf",
	        file: "https://s3-eu-west-1.amazonaws.com/dreamyourweb/videos/dyw_low.mp4",
        	width: 630,
       		height: 348,
       		image: "/assets/dywvideo.jpg"
	    });
	</script>

	<h4>Advies</h4>
	<div class="product-panel">
		<div class="product-image">
			<div class="bookman-link product-panel-image puzzle"></div>
		</div>
		<div class="product-panel-content"><%= mercury_content_for :web_consultancy %></div>
	</div>
	<hr>
	<h4>Ontwikkeling</h4>
	<div class="product-panel">
		<div class="product-image">
			<div class="bookman-link product-panel-image cog"></div>
		</div>
		<div class="product-panel-content"><%= mercury_content_for :web_development %></div>
	</div>
	<hr>
	<h4>Optimalisatie</h4>
	<div class="product-panel">
		<div class="product-image">
			<div class="bookman-link product-panel-image pie"></div>
		</div>
		<div class="product-panel-content"><%= mercury_content_for :optimization %></div>
	</div>
</div>