<div id="products-maincontent">
	<%= manageable_layout_content_for :body %><br>
</div>
<div class="product-sub-nav">
	<%= link_to "Advies", web_consultancy_path, :class => "bookman-link product-panel-image puzzle" %>
	<span class="product-arrow"></span>
	<%= link_to "Ontwikkeling", web_development_path, :class => "bookman-link product-panel-image cog" %>
	<span class="product-arrow"></span>
	<%= link_to "Optimalisatie", optimization_path, :class => "bookman-link product-panel-image pie" %>
</div>