<div class="product-sub-nav">
	<h4>Advies</h4>
	<div class="product-panel">
		<div class="product-image">
			<div class="bookman-link product-panel-image puzzle"></div>
		</div>
		<div class="product-panel-content"><%= manageable_layout_content_for :web_consultancy %></div>
	</div>
	<hr>
	<h4>Ontwikkeling</h4>
	<div class="product-panel">
		<div class="product-image">
			<div class="bookman-link product-panel-image cog"></div>
		</div>
		<div class="product-panel-content"><%= manageable_layout_content_for :web_development %></div>
	</div>
	<hr>
	<h4>Optimalisatie</h4>
	<div class="product-panel">
		<div class="product-image">
			<div class="bookman-link product-panel-image pie"></div>
		</div>
		<div class="product-panel-content"><%= manageable_layout_content_for :optimization %></div>
	</div>
</div>