<h3>Onze Technieken</h3>
<hr class="small-line">
<%= mercury_content_for :sidebar %>
<hr>
<%= link_to "Neem contact op", {:action => "index", :controller => "contact", :to => "info@dreamyourweb.nl", :subject => "Diensten dreamyourweb"}, :class => "button-clean" %>
