- content_for :strip do
  #strip-contact-sides.strip-wide
    #strip-proces-center.strip-center

#flow
  .row#clouds
    %h1
      het Dream<span class="blue">your</span>web proces

  .row
    .left
      %h2
        %span.blue Jouw
        Idee
      %p Je hebt een brilliant idee. De potentie is enorm. Het plan van aanpak ligt klaar en als alles gaat volgens dit plan, dan is er binnen een jaar wereldvrede. Je hebt alleen nog een team ontwikkelaars nodig voor de uitvoering en zo kom je op deze website terecht... 
      %p MAAR JA, dingen gaan nooit volgens plan! Er zijn zoveel aannames en de investerings risico's zijn gigantisch. 90% van de software projecten faalt. 
      %p Wat nu?
    .right#idea
  .row.arrows

  .row
    .left#core-idea
    .right
      %h2
        Kern van het
        %span.blue Idee
      %p dreamyourweb laat je niet zitten bij zo'n risicovolle onderneming en neemt graag de tijd met je om tot de kern van het idee te komen. Het probleem wat opgelost dient te worden, de doelgroep en de bijbehorende visie staan centraal. Aan de hand van bewezen technieken proberen we grip te krijgen op de kern van het plan.
  .row.arrows

  .row
    .right#validation
    .left
      %h2
        Validatie
      %p Aan de hand van wat nodig is kunnen we dieper in gaan op de impact die gemaakt dient te worden, de roadmap die hierbij hoort of het business model dat gevalideert dient te worden  
      %p hier worden aannames gecheckt, duidelijk meetbare doelen geformuleert en innovatie strategien ontwikkelt 
  .row.arrows

  .row
    .right
      %h2
        Kern
        %span.blue Product
      %p Nu we een eerste stap hebben ondernomen om de 90% faal kans te verkleinen en we hebben positieve feedback op de basis aannames; Gaan we de investeringsrisico's beperken door puur het kern product te maken. Een mooie bijkomstigheid is dat het kernproduct ook vaak is waar mensen naar op zoek zijn. Door bij de kern te blijven wordt het product dus vaak nog beter ook :)!
    .left#core-product
  .row.arrows

  .row.bottom-row
    .right#optimalization
    .left
      %h2
        Optimalisatie
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut dolor ipsum. Sed a urna ante, sed imperdiet eros. Morbi tempor, libero at tincidunt luctus, metus neque viverra felis, sit amet interdum ante eros vel ligula. Nulla condimentum lectus non tellus rhoncus id volutpat tortor dictum. Donec et dignissim sem. Quisque volutpat libero tortor. Morbi ut quam vel justo malesuada faucibus. 