- content_for :strip do
  #strip-contact-sides.strip-wide
    #strip-proces-center.strip-center

#flow
  .row#clouds
    %h1
      het dream<span class="blue">your</span>web proces

  .row
    .left
      %h2
        %span.blue Jouw
        Idee
      %p Je hebt een brilliant idee. De potentie is enorm. Het plan van aanpak ligt klaar en als alles gaat volgens dit plan, dan is er binnen een jaar wereldvrede. Je hebt alleen nog een team ontwikkelaars nodig voor de uitvoering en zo kom je op deze website terecht... 
      %p MAAR JA, dingen gaan nooit volgens plan! Er zijn zoveel aannames en de investerings risico's zijn gigantisch. 90% van de software projecten faalt. 
      %p Wat nu?
    .right#idea
  .row.arrows

  .row
    .left#core-idea
    .right
      %h2
        Kern van het
        %span.blue Idee
      %p Vaak is het oorspronkelijke idee zonder technische inbreng tot stand gekomen. Dit levert meestal een sub-optimaal resultaat omdat technische expert kennis inzicht kan geven over recente technieken en uitvoeringsdetails die flinke kosten besparingen kunnen opleveren of de gebruiksvriendelijkheid bevorderen. Ook trends in de markt worden vaak niet meegenomen.
      %p dream<span class="blue">your</span>web laat je niet zitten bij zo'n risicovolle onderneming en neemt graag de tijd met je om tot de kern van het idee te komen. Het probleem wat opgelost dient te worden, de doelgroep en de bijbehorende visie staan centraal. Aan de hand van bewezen technieken proberen we grip te krijgen op de kern van het plan.
  .row.arrows

  .row
    .right#validation
    .left
      %h2 Validatie
      %p Nu komt het echte werk. We gaan dieper in op de impact die gemaakt dient te worden, de roadmap die hierbij hoort en het te valideren business model.
      %p Hier worden aannames gecheckt, duidelijk meetbare doelen geformuleert en innovatie strategien ontwikkelt.
  .row.arrows

  .row
    .right
      %h2
        Kern
        %span.blue Product
      %p Nu we een eerste stap hebben ondernomen om de 90% faal kans te verkleinen kunnen we met vertrouwen de kern van het product maken. Zo beperken we de investeringsrisico's en krijgen we zo snel mogelijk een product op de markt. Een mooie bijkomstigheid is dat het kernproduct hetgeen is waar mensen naar op zoek zijn. Door bij de kern te blijven wordt het product dus nog beter ook :)!
    .left#core-product
  .row.arrows

  .row.bottom-row
    .right#optimalization
    .left
      %h2
        Optimalisatie
      %p Nu heb je een kern product, de eerste gebruikers zijn enthousiast, maar hebben natuurlijk ook nog wat opmerkingen en nieuwe ideeen. Aan de hand van feedback, gemeten gebruik van de applicatie, A-B testen en strategische doelen maken we een gedegen roadmap voor verdere ontwikkeling en optimalisatie.