#flow
  .row#clouds
    %h1
      het Dream<span class="blue">your</span>web proces

  .row
    .left
      %h2
        %span.blue Jouw
        Idee
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut dolor ipsum. Sed a urna ante, sed imperdiet eros. Morbi tempor, libero at tincidunt luctus, metus neque viverra felis, sit amet interdum ante eros vel ligula. Nulla condimentum lectus non tellus rhoncus id volutpat tortor dictum. Donec et dignissim sem. Quisque volutpat libero tortor. Morbi ut quam vel justo malesuada faucibus. 
    .right#idea
  .row.arrows

  .row
    .left#core-idea
    .right
      %h2
        Kern van het
        %span.blue Idee
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut dolor ipsum. Sed a urna ante, sed imperdiet eros. Morbi tempor, libero at tincidunt luctus, metus neque viverra felis, sit amet interdum ante eros vel ligula. Nulla condimentum lectus non tellus rhoncus id volutpat tortor dictum. Donec et dignissim sem. Quisque volutpat libero tortor. Morbi ut quam vel justo malesuada faucibus. 
  .row.arrows.row.arrows

  .row
    .left
      %h2
        %span.blue Business
        Model

      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut dolor ipsum. Sed a urna ante, sed imperdiet eros. Morbi tempor, libero at tincidunt luctus, metus neque viverra felis, sit amet interdum ante eros vel ligula. Nulla condimentum lectus non tellus rhoncus id volutpat tortor dictum. Donec et dignissim sem. Quisque volutpat libero tortor. Morbi ut quam vel justo malesuada faucibus. 
    .right#bm
  .row.arrows

  .row
    .left#validation
    .right
      %h2
        Validatie
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut dolor ipsum. Sed a urna ante, sed imperdiet eros. Morbi tempor, libero at tincidunt luctus, metus neque viverra felis, sit amet interdum ante eros vel ligula. Nulla condimentum lectus non tellus rhoncus id volutpat tortor dictum. Donec et dignissim sem. Quisque volutpat libero tortor. Morbi ut quam vel justo malesuada faucibus. 
  .row.arrows

  .row
    .left
      %h2
        Kern
        %span.blue Product
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut dolor ipsum. Sed a urna ante, sed imperdiet eros. Morbi tempor, libero at tincidunt luctus, metus neque viverra felis, sit amet interdum ante eros vel ligula. Nulla condimentum lectus non tellus rhoncus id volutpat tortor dictum. Donec et dignissim sem. Quisque volutpat libero tortor. Morbi ut quam vel justo malesuada faucibus. 
    .right#core-product
  .row.arrows

  .row.bottom-row
    .left#optimalization
    .right
      %h2
        Optimalisatie
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut dolor ipsum. Sed a urna ante, sed imperdiet eros. Morbi tempor, libero at tincidunt luctus, metus neque viverra felis, sit amet interdum ante eros vel ligula. Nulla condimentum lectus non tellus rhoncus id volutpat tortor dictum. Donec et dignissim sem. Quisque volutpat libero tortor. Morbi ut quam vel justo malesuada faucibus. 