- content_for :strip do
  #strip-contact-sides.strip-wide
    #strip-proces-center.strip-center

#flow
  .row#clouds
    %h1
      het dream<span class="blue">your</span>web proces

  .row
    .left
      %h2
        %span.blue Jouw
        Idee
      %p Je hebt een brilliant idee. De potentie is enorm. Het plan van aanpak ligt klaar en als alles gaat volgens plan, dan is er binnen een jaar wereldvrede! Je hebt alleen nog een team ontwikkelaars nodig voor de uitvoering en zo kom je bij dream<span class="blue">your</span>web... 
      %p MAAR JA, dingen gaan nooit volgens plan! Er zijn zoveel aannames en de investeringsrisico's zijn gigantisch. 90% van de software projecten faalt. 
      %p Wat nu?
    .right#idea
  .row.arrows

  .row
    .left#core-idea
    .right
      %h2
        Kern van het
        %span.blue Idee
      %p Vaak is het oorspronkelijke idee zonder technische inbreng tot stand gekomen. Dit zorgt voor een sub-optimaal resultaat. Technische expert kennis geeft namelijk inzicht in recente technieken en uitvoeringsdetails. Het meenemen van technische inzichten in de planning levert over het algemeen flinke kosten besparingen op en bevordert de kwaliteit van het product. De kennis en ervaring van experts kan je ook helpen om aan te sluiten bij trends in de markt.
      %p dream<span class="blue">your</span>web laat je niet zitten bij zo'n risicovolle onderneming. We nemen graag de tijd om onze expertise en ervaring ten goede te laten komen van jouw organisatie. De eerste stap hierin is tot de kern van het idee komen. Hierbij staat voor ons het probleem wat opgelost dient te worden, de doelgroep en jouw visie centraal. Aan de hand van bewezen technieken proberen we grip te krijgen op de kern van het plan, leggen we belangrijke aannames bloot en identificeren we de risico's.
  .row.arrows

  .row
    .right#validation
    .left
      %h2 Validatie
      %p Tijd voor het echte werk. We gaan ons verdiepen in de impact die gemaakt dient te worden. We komen tot een roadmap en valideren samen het business model. 
      %p In de validatie fase worden aannames gecheckt, duidelijk meetbare doelen geformuleerd en innovatie strategiën ontwikkeld.
  .row.arrows

  .row
    .right
      %h2
        Kern
        %span.blue Product
      %p Nu we een eerste stap hebben ondernomen om de 90% faal kans te verkleinen kunnen we met vertrouwen de kern van het product maken. Zo beperken we de investeringsrisico's en krijgen we zo snel mogelijk een product op de markt. Een mooie bijkomstigheid is dat het kernproduct hetgeen is waar mensen naar op zoek zijn. Door bij de kern te blijven wordt het product dus nog beter ook :)!
    .left#core-product
  .row.arrows

  .row.bottom-row
    .right#optimalization
    .left
      %h2
        Optimalisatie
      %p Het kern product is gebouwd. De eerste gebruikers zijn enthousiast, maar hebben natuurlijk ook nog wat opmerkingen en nieuwe ideëen. Aan de hand van feedback, gemeten gebruik van de applicatie, A-B testen en strategische doelen, maken we keuzes voor verdere ontwikkeling en optimalisatie.