<div id="products-content">
	<div class="service-image scan"></div>
	<h3>(Vrijblijvende) Innovatie-scan</h3>
	<p>Ons ontwikkelproces begint met “het idee”, en de Ideeen Check is een vrijblijvende kennismaking. We kijken gezamelijk naar welk doel U wilt bereiken, welke behoeftes U wilt vervullen of welke problemen U wilt aanpakken. Hierdoor ontdekken we de achterliggende motivatie en alternative oplossingen. We komen tot de kern van uw idee, zodat U met meer doelgerichtheid en focus de volgende stap kunt zetten. Op het gebied van innovatieve web-applicaties kunnen we U daarbij ondersteunen.</p>
	<div style="clear:both"></div>

	<div class="service-image bmcheck"></div>
	<h3>Bedrijfsplan Check</h3>
	<p>Met de business model check gaan we de diepte in. We kijken gezamenlijk of het verhaal achter uw idee houdbaar is. We zoeken hierbij naar de risico’s en aannames in alle gebieden van uw bedrijfsplan, zoals de doelgroep, het verdienmodel en de meerwaarde van uw idee. Deze bevindingen worden vertaald naar hypotheses: Stellingen die met een concrete actie kunnen worden gevalideerd. Na de business model check weet U direct de beste stap om uw idee verder te ontwikkelen</p>
	<div style="clear:both"></div>

	<div class="service-image uservalidation"></div>
	<h3>Gebruiker Validatie</h3>
	<p>Bij een nieuwe toepassing tast in eerste instantie iedereen in het duister. Vaak wordt er een product gebouwd, in de hoop dat de gebruikers vanzelf zullen komen. Door in het prilste stadium er al te bewust op te richten om zo veel mogelijk te leren van toekomstige gebruikers, wordt al snel duidelijk welke functionaliteiten echt belangrijk zijn. Een beknopte marketing website of papieren test-app kan al vaak een zeer verhelderend licht schijnen op hoe uw idee in theorie zich vertaald naar uitvoering in de praktijk.</p>
	<div style="clear:both"></div>

	<div class="service-image development"></div>
	<h3>Software Ontwikkeling</h3>
	<p>Als duidelijk is wat de kern van het idee is, dan pas gaan we bouwen. Door heel bewust te beginnen met alleen het strikt noodzakelijke, komen we al snel te weten of de gebruikers ook echt zo reageren als we verwachten. Op basis van wat we hiervan leren, kunnen we al snel bijsturen. Het kernproduct is dan ook de ultieme validatie van uw idee. Op basis van het kernproduct wordt vervolgens verder ontwikkeld.</p>
	<div style="clear:both"></div>

	<div class="service-image workshop"></div>
	<h3>Lean Workshops</h3>
	<p>De lean aanpak draait om het minimaliseren van verspilde moeite. In onze workshop komt aan bod hoe ontwikkelprocessen zo kunnen worden ingericht, dat er met de minste moeite daadwerkelijk iets wordt gebouwd dat werkt. Aan de hand van lessen die wij hebben geleerd uit de praktijk en eigen inbreng vanuit de zaal wordt er interactief een casus behandeld.</p>
	<div style="clear:both"></div>

	<div class="product-contact">
		<%= link_to "Neem contact op", {:action => "index", :controller => "contact", :to => "info@dreamyourweb.nl", :subject => "Diensten dreamyourweb"}, :class => "button-clean" %>
	</div>
</div>

