<h3>Optimalisatie</h3>
<hr class="small-line">
<div class="category-explanation">
	<%= mercury_content_for :optimization %>
</div>
<%= link_to "Contact", {:action => "index", :controller => "contact", :aan => "info@dreamyourweb.nl"}, :class => "bookman-link" %>
<hr>
	<%= link_to "Terug naar diensten", products_path, :class => "bookman-link left" %>
