<h3>Web ontwikkeling</h3>
<hr class="small-line">
<div class="category-explanation">
	<%= manageable_layout_content_for :web_development %>
</div>
<%= link_to "Verder naar optimalisatie", optimization_path, :class => "bookman-link" %>
<hr>
	<%= link_to "Contact", {:action => "index", :controller => "contact", :aan => "info@dreamyourweb.nl", :subject => "Dreamyourweb web_development"}, :class => "bookman-link left" %>
	<%= link_to "Terug naar diensten", products_path, :class => "bookman-link left" %>

