<h2>Webdevelopment</h2>
<div class="category-explanation">
	<%= manageable_layout_content_for :webdevelopment %>
</div>
<br>
<div class="bookman-link-float">
	<%= link_to ">> Contact", {:action => "index", :controller => "contact", :to => "info@dreamyourweb.nl", :subject => "Dreamyourweb webdevelopment"} %>
	<%= link_to ">> Terug naar diensten", products_path %>
</div>

