<h3>Webdevelopment</h3>
<hr class="small-line">
<div class="category-explanation">
	<%= manageable_layout_content_for :webdevelopment %>
</div>
<hr>
	<%= link_to "Contact", {:action => "index", :controller => "contact", :to => "info@dreamyourweb.nl", :subject => "Dreamyourweb webdevelopment"}, :class => "bookman-link left" %>
	<%= link_to "Terug naar diensten", products_path, :class => "bookman-link left" %>

