.footer-shadow
.row.footer-content
  .four.columns#footer-contact

    .row
      .two.columns
        %i.foundicon-phone
      .ten.columns
        %p
          Wil je kletsen?
          %br
          %strong Bel ons op +31 (0)24 301 0100

    .row
      .two.columns
        %i.foundicon-mail
      .ten.columns
        %p
          Mail je liever?
          %br
          %strong Mail naar #{mail_to "info@dreamyourweb.nl"}
    
  .four.columns#footer-contact

  .four.columns#footer-social
    %h5.subheader Meer dreamyourweb
    = render :partial => "/shared/social"

  / .four.columns#footer-more
  /   %h4 Meer info
  /   %span#contact-button= link_to "", contact_path(:aan => "info@dreamyourweb.nl")
  /   = link_to image_tag("wbso-stamp.png"), "http://www.agentschapnl.nl/nl/node/100392"
#footer-bottom
  .row
    .twelve.columns
      © 2012 dreamyourweb V.O.F. - Alle rechten voorbehouden -
      = link_to "Disclaimer", disclaimer_path
      = link_to "Algemene Voorwaarden", terms_and_conditions_path