<div id="categories-strip">
	<div id="categories-pictures-container">
		<ul>
		<li>
			<%= link_to(web_development_path, :class => action_active?('webdevelopment').to_s, :class => "cat-web fade") do %>
			<% end %>
		</li>
		<li>

			<%= link_to(web_consultancy_path, :class => action_active?('concept_development').to_s, :class => "cat-concept fade") do %>
			<% end %>
		</li>
		<li>
			<%= link_to(optimization_path, :class => action_active?('mobile').to_s, :class => "cat-mobile fade") do %>
			<% end %>
		</li>
		</ul>
	</div>
</div>
<hr class="big-line">
