<!DOCTYPE html>
<html>
<head>

  <%= csrf_meta_tags %>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta name="format-detection" content="telephone=no"><!-- Don't detect nrs as phone nrs -->
	<title>dreamyourweb | Ideas - design - development</title> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"></script>
  	<%= stylesheet_link_tag "application" %>
</head>
<body>

<%= yield %>

</body>
</html>




 
